.search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgba(204, 204, 204, 1) 25%,
    rgba(235, 235, 235, 1) 100%
  );
  input {
    height: 100px;
    width: 1240px;

    color: var(--primary-level-1);
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;

    background: none;
    border: none;
  }
  input::placeholder {
    font-weight: bold;
    opacity: 0.8;
    color: var(--primary-level-4);
  }
  input:focus {
    outline: none;
  }
}

.container {
  max-width: 1240px;
  margin: auto;
  margin-top: 35px;
}

section {
  h1 {
    color: var(--primary-level-1);
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 2px;
  }
  .items-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.controls {
  display: flex;
  justify-content: end;
  button {
    padding: 0 8px;
    margin: 0 16px;
  }
}
